<header>
    <h1>Soluciones Tecnológicas para tu Empresa o Emprendimiento</h1>
    <nav>
        <ul>
            <li><a href="index.html">Inicio</a></li>
            <li><a href="about.html">Sobre Mí</a></li>
            <li>
                <a href="projects.html">Mis Proyectos</a>
                <ul>
                    <li><a href="web-design.html">Diseño y Desarrollo Web</a></li>
                    <li><a href="excel-solutions.html">Excel Solutions</a></li>
                    <li><a href="soporte-tec.html">Soporte Técnico MS</a></li>
                </ul>
            </li>
            <li><a href="contact.html">Contáctame</a></li>
        </ul>
    </nav>
</header>